#streamlit
#onnxruntime
#onnx
#numpy
#Pillow
#opencv-python-headless
#requests
#pymongo
#dnspython
#ultralytics

streamlit
ultralytics==8.0.22
Pillow
numpy
requests
pymongo
bcrypt
pyyaml
python-dotenv
psutil
bson
gridfs

